In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
%config Completer.use_jedi = False

In [2]:
data = pd.read_excel('Train.xlsx')
data.head()

E:\Anaconda\envs\tf\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  """Entry point for launching an IPython kernel.

,Date,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy,(Inverters)
0,2016-02-01,0.10,9.45,3.11,0.32,79.46,4.70,29.23,30.02,20256,NaN
1,2016-02-02,0.80,3.94,6.99,6.22,93.60,13.29,28.91,29.70,1761,NaN
2,2016-02-03,0.87,8.70,1.62,0.02,85.00,16.73,29.03,29.82,2775,NaN
3,2016-02-04,0.37,10.00,-2.47,-5.89,74.52,9.46,29.46,30.26,28695,NaN
4,2016-02-05,0.52,9.21,-2.00,-4.15,82.03,5.92,29.55,30.35,9517,NaN

In [7]:
data

,Date,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy,(Inverters)
0,2016-02-01,0.10,9.45,3.11,0.32,79.46,4.70,29.23,30.02,20256,NaN
1,2016-02-02,0.80,3.94,6.99,6.22,93.60,13.29,28.91,29.70,1761,NaN
2,2016-02-03,0.87,8.70,1.62,0.02,85.00,16.73,29.03,29.82,2775,NaN
3,2016-02-04,0.37,10.00,-2.47,-5.89,74.52,9.46,29.46,30.26,28695,NaN
4,2016-02-05,0.52,9.21,-2.00,-4.15,82.03,5.92,29.55,30.35,9517,NaN
...,...,...,...,...,...,...,...,...,...,...,...
632,2017-10-25,0.23,10.00,5.87,2.89,82.33,5.56,29.04,29.83,13737,NaN
633,2017-10-26,0.01,10.00,10.59,5.32,72.74,9.61,28.97,29.76,27465,NaN
634,2017-10-27,0.89,10.00,5.79,0.04,67.37,13.62,29.08,29.87,15797,NaN
635,2017-10-28,0.99,9.67,3.43,-0.11,77.87,9.67,29.15,29.94,6400,NaN
636,2017-10-29,0.58,10.00,4.96,-0.90,67.58,5.53,29.07,29.86,8537,NaN

In [11]:
y=data['Solar energy']
X=data.drop('Solar energy',axis=1)

In [16]:
X=X.drop('(Inverters)',axis=1)

In [29]:
X=X.drop('Date',axis=1)

In [30]:
X

,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter
0,0.10,9.45,3.11,0.32,79.46,4.70,29.23,30.02
1,0.80,3.94,6.99,6.22,93.60,13.29,28.91,29.70
2,0.87,8.70,1.62,0.02,85.00,16.73,29.03,29.82
3,0.37,10.00,-2.47,-5.89,74.52,9.46,29.46,30.26
4,0.52,9.21,-2.00,-4.15,82.03,5.92,29.55,30.35
...,...,...,...,...,...,...,...,...
632,0.23,10.00,5.87,2.89,82.33,5.56,29.04,29.83
633,0.01,10.00,10.59,5.32,72.74,9.61,28.97,29.76
634,0.89,10.00,5.79,0.04,67.37,13.62,29.08,29.87
635,0.99,9.67,3.43,-0.11,77.87,9.67,29.15,29.94
636,0.58,10.00,4.96,-0.90,67.58,5.53,29.07,29.86

In [31]:
X_train, X_eval,y_train,y_eval=train_test_split(X,y,test_size=0.2,random_state=42)

In [32]:
scaler_model = MinMaxScaler()
scaler_model.fit(X_train)

MinMaxScaler()

In [33]:
X_train=pd.DataFrame(scaler_model.transform(X_train),columns=X_train.columns,index=X_train.index)

scaler_model.fit(X_eval)

X_eval=pd.DataFrame(scaler_model.transform(X_eval),columns=X_eval.columns,index=X_eval.index)

In [39]:
data=data.drop('Date',axis=1)

In [40]:
data.columns[:-1]

Index(['Cloud coverage', 'Visibility', 'Temperature', 'Dew point',
       'Relative humidity', 'Wind speed', 'Station pressure', 'Altimeter',
       'Solar energy'],
      dtype='object')

In [41]:
feat_cols=[]
for cols in data.columns[:-1]:
    column=tf.feature_column.numeric_column(cols)
    feat_cols.append(column)
    
print(feat_cols)

[NumericColumn(key='Cloud coverage', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Visibility', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Temperature', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Dew point', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Relative humidity', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Wind speed', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Station pressure', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Altimeter', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='Solar energy', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [43]:
model=tf.estimator.DNNRegressor(hidden_units=[6,10,6],feature_columns=feat_cols)


input_func=tf.compat.v1.estimator.inputs.pandas_input_fn(X_train,y_train,batch_size=10,num_epochs=1000,shuffle=True)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\venka\AppData\Local\Temp\tmpcxado0b7
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\venka\\AppData\\Local\\Temp\\tmpcxado0b7', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [45]:
model.train(input_fn=input_func,steps=1000)